@import "../../variables.scss";

.Edit {
  @include flex-row;
  justify-content: space-evenly;
  align-items: center;

  form {
    @include flex-column;

    input {
      @include font;
      background-color: transparent;
      color: $white;
      border: 2px solid $white;
      border-radius: 15px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      margin: 1rem;
    
      &:focus {
        outline: none;
      }
    
      &::placeholder {
        color: $white;
      }
    }

    .edit-buttons {
      @include flex-row;
      justify-content: space-between;
    }
  }

  .Preview {
    .nameless {
      background-color: #FBE900;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;

      h1 {
        font-size: 26px;
        margin: 0;
      }
      
      h2 {
        font-size: 19px;
        margin: 0;
      }
    }

    .chocky {
      background-color: #E30002;
      color: $white;
      font-family: 'Fjalla One', sans-serif;

      .chocky-text {
        @include flex-column;
        justify-content: center;
        align-items: center;
        background-image: url("../../../public/Sticks.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 210px;

        text {
          font-size: 40px;
          font-weight: bold;
        }

        h2 {
          font-size: 10px;
          width: 50px;
          text-align: center;
          margin: 0;
        }
      }
    }
    
    .soobway {
      background-color: black;
      color: $white;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      background-image: url("../../../public/BG.svg");

      h1 {
        margin: 0;
      }

      .title {
        transform: translateY(6px);
      }
    }

    .image {
      position: relative;
      
      .drag-me {
        cursor: grab;
        width: fit-content;

        &:active {
          cursor: grabbing;
        }
      }
    }

    .toggle-square {
      height: 227px;
      width: 221px;
    }

    .toggle-banner {
      height: 227px;
      width: 907px;
    }
  }
}