@import "../variables.scss";

.Edit {
  @include flex-row;
  justify-content: space-between;
  align-items: center;

  form {
    @include flex-column;
  }

  .preview {

    .image {
      background-color: #FBE900;
      height: 227px;
      width: 221px;
      margin: 1rem;
    }
  }
}