@import "../variables.scss";

.Edit {
  @include flex-row;
  justify-content: space-evenly;

  form {
    @include flex-column;
  }

  .preview {

    .image {
      background-color: #FBE900;
      margin: 1rem;

      .image-text {
        h1 {
          margin: 0;
        }
        h2 {
          margin: 0;
        }
      }
    }

    .toggle-square {
      height: 227px;
      width: 221px;
    }

    .toggle-banner {
      height: 227px;
      width: 907px;
    }
  }
}