@import "../variables.scss";

.Edit {
  @include flex-row;
  justify-content: space-evenly;

  form {
    @include flex-column;
  }

  .preview {

    .image {
      position: relative;
      background-color: #FBE900;
      margin: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;

      .image-text {
        cursor: grab;
        width: fit-content;

        &:active {
          cursor: grabbing;
        }

        h1 {
          font-size: 1.5rem;
          margin: 0;
        }
        
        h2 {
          font-size: 1.1rem;
          margin: 0;
        }
      }
    }

    .toggle-square {
      height: 227px;
      width: 221px;
    }

    .toggle-banner {
      height: 227px;
      width: 907px;
    }
  }
}