@import '../variables.scss';

.template-list-container {
  @include flex-row;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $black;
    transition-duration: 200ms;

    &:hover {
      text-decoration: underline;
      filter: brightness(50%);
    }
  }
}