@import './variables.scss';

.App {
  @include flex-column;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  height: 100vh;

  .Footer {
    bottom: 0;
    margin: 1rem;

    a {
      color: $white;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#loading-rat {
  filter: sepia() saturate(1000%) hue-rotate(300deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  img {
    height: 10rem;
  }
}